body {
    padding-top: 70px;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.section-padding {
    padding: 60px 0;
}

.semi-transparent {
    background-color: rgba(0, 0, 0, 0.7);
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
}
